@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: #f00;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 500px;
    height: auto;
}
